	a {
		text-decoration:none;
	}
	
@font-face { 
  font-family: 'Plume';
  src: url(JennaSue.ttf);
}
@font-face { 
  font-family: 'desyrel';
  src: url(desyrel.ttf);
}

#toolbarup
{
	background: url(images/topBarFond.png); 
	height: 46px;
	font-size: 20px;
	text-align:center;
	border:transparent; 
}

#imgmenu
{
	margin-top: 6%;
	margin-left: 38%;
}
#textbarup
{
	margin-top: 10px;
	background: transparent;
	border: transparent;
}
.corps
{
	background: url(images/fondBlancGrille.jpg);
	background-position: center;
}

.toolbardown
{
	background: url(images/topBarFond.png); 
	height: 47px;
	text-align:center;
	border:transparent; 
}

.toolbardown2
{
	background: url(images/fondPanierCF.png); 
	text-align:center;
	border:transparent; 
}
